/*修改placeholder的样式.css*/
/* webkit 浏览器*/

#field1::-webkit-input-placeholder{color:#00f;}

#field2::-webkit-input-placeholder{

color:#090;

background:lightgreen;

text-transform:uppercase;

}

#field3::-webkit-input-placeholder{

font-style:italic;

text-decoration:overline;

letter-spacing:3px;

color:#999;

}

作者：空谷悠
链接：http://www.jianshu.com/p/2cfddb0b9b94
來源：简书
著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。