/*右侧小图标.css*/

i{
	width: width;
	height: height;
	display: inline-block;
	margin-left: 5px;
	background: url ... ;
	&.select{
		/*更改图片, 改变图片*/
		background: url() ... ;
	}
	&.up{
		/*不改变图片，只是改变方向*/
		background: url() ... ;
		transform: rotate(180deg);
	}
}

/*js点击事件依次操作class*/

无class -> 添加select -> 添加up,删除select -> 删除up，添加select