/*修改placeholder的样式.css*/
/* webkit 浏览器*/

#field1::-webkit-input-placeholder{color:#00f;}

#field2::-webkit-input-placeholder{

color:#090;

background:lightgreen;

text-transform:uppercase;

}

#field3::-webkit-input-placeholder{

font-style:italic;

text-decoration:overline;

letter-spacing:3px;

color:#999;

}
