
/*媒体查询，打印的时候需要的样式写在里面*/
@media print {
    body { 
        color: #000; 
        background: #fff; 
    }
    @page {
        对应设置中的页边距，
        margin: 2cm;
    }
    
2
3
article {
   page-break-before: always;
}
}

page-break-after: avoid; 

h2, h3 { page-break-after: avoid; }


http://blog.jobbole.com/44662/


总之需要的样式都可以得到