@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';
@font-face {
    font-family: "DS-DIGIB";
    src: url("./icons/DS-DIGIB.ttf") format("truetype"),
}

.UnidreamLED {
    font-family: "DS-DIGIB" !important;
    font-size: 24px !important;
}

.Unidream {
    font-family: "DS-DIGIB" !important;
    font-size: 32px !important;
}

body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
    font-weight: 700;
}

.zhi {
    font-style: normal;
    font-weight: bold;
    width: 20px;
    font-size: 14px;
    color: #909399;
}

html {
    height: 100%;
    box-sizing: border-box;
}

#app {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.no-padding {
    padding: 0px !important;
}

.padding-content {
    padding: 4px 0;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.pr-5 {
    padding-right: 5px;
}

.pl-5 {
    padding-left: 5px;
}

.block {
    display: block;
}

.pointer {
    cursor: pointer;
}

.inlineBlock {
    display: block;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

aside {
    background: #eef1f6;
    padding: 8px 24px;
    margin-bottom: 20px;
    border-radius: 2px;
    display: block;
    line-height: 32px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #2c3e50;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    a {
        color: #337ab7;
        cursor: pointer;
        &:hover {
            color: rgb(32, 160, 255);
        }
    }
}

//顶部菜单栏阴影
#app .sidebar-container .el-menu {
    box-shadow: 10px 10px 10px 10px #c0dcff
}

//main-container全局样式
.app-container {
    padding: 20px;
}
.el-menu.el-menu--horizontal{
background: linear-gradient(278deg,#268aff 6%, #0a48d1 96%) !important;
border-radius: 6px !important;
box-shadow: 12px 12px  12px 6px rgba(48,131,242,0.2) !important;

}
.components-container {
    margin: 30px 50px;
    position: relative;
}

.pagination-container {
    margin-top: 30px;
}

.text-center {
    text-align: center
}

.sub-navbar {
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    transition: 600ms ease position;
    background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
    .subtitle {
        font-size: 20px;
        color: #fff;
    }
    &.draft {
        background: #d0d0d0;
    }
    &.deleted {
        background: #d0d0d0;
    }
}

.link-type,
.link-type:focus {
    color: #337ab7;
    cursor: pointer;
    &:hover {
        color: rgb(32, 160, 255);
    }
}

.filter-container {
    padding-bottom: 10px;
    .filter-item {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
    }
}

//refine vue-multiselect plugin
.multiselect {
    line-height: 16px;
}

.multiselect--active {
    z-index: 1000 !important;
}

.label {
    // color: $labelFontColor;
    width: 140px;
    display: inline-block;
    text-align: right;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 10px;
    font-style: normal;
    font-family: Microsoft YaHei, Microsoft YaHei-Bold;
    font-weight: 700;
    // text-align: left;
    color: #3e3e3e;
    //margin-top: 5px;
}

.origin {
    border-radius: 10px;
    border: #ccc solid 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header {
    // height: 30px;
    // line-height: 30px;
    border-bottom: 1px #ccc solid;
    // box-shadow: #ccc 3px 3px;
    box-sizing: border-box;
    padding: 5px !important;
    span {
        font-weight: bolder;
    }
}

.flex {
    display: flex;
}

.inline-block {
    display: inline-block;
}

.inputWidth {
    display: inline-block;
    width: 130px;
}

.btn-icon {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    padding: 0;
    span {
        display: inline-block;
        width: 100%;
        height: 100%;
        .svg-icon {
            width: 100% !important;
            height: 100% !important;
        }
    }
}

// .chakan{
//   background-image:url('<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><defs><style>.a{fill:#eceff1;}.b{fill:#8a9ea9;}</style></defs><g transform="translate(-600 -441)"><rect class="a" width="32" height="32" rx="16" transform="translate(600 441)"/><path class="b" d="M5229,5658a8.194,8.194,0,0,1-6.475-3.4,2.714,2.714,0,0,1,0-3.2,7.865,7.865,0,0,1,12.95,0,2.714,2.714,0,0,1,0,3.2A8.194,8.194,0,0,1,5229,5658Zm0-8a3,3,0,1,0,3,3A3,3,0,0,0,5229,5650Zm0,5a2,2,0,1,1,2-2A2,2,0,0,1,5229,5655Z" transform="translate(-4613 -5196)"/></g></svg>') ;
// }
.chakan {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    padding: 0;
    background: url(./icons/btn_view1.svg) no-repeat center;
    transition: all 0.3s;
    &:hover {
        background-image: url(./icons/btn_view2.svg);
    }
}

.el-dialog__footer {
    background-color: #F8F9FA !important;
    border-radius: 0 0 12px 12px;
} //弹框的背景色
.el-dialog {
    border-radius: 12px;
}

.shanchu {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    padding: 0;
    background: url(./icons/btn_del1.svg) no-repeat center;
    transition: all 0.3s;
    &:hover {
        background-image: url(./icons/btn_del2.svg);
    }
}

.tableHeaderbox {
    align-items: center;
}

.bianji {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    padding: 0;
    background: url(./icons/btn_edit1.svg) no-repeat center !important;
    transition: all 0.3s;
    &:hover {
        background-image: url(./icons/btn_edit2.svg) !important;
    }
}

.tinyong {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    padding: 0;
    background: url(./icons/btn_stop1.svg) no-repeat center;
    transition: all 0.3s;
    &:hover {
        background-image: url(./icons/btn_stop2.svg);
    }
}

.qiyong {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    padding: 0;
    background: url(./icons/btn_str.svg) no-repeat center;
    transition: all 0.3s;
    &:hover {
        background-image: url(./icons/btn_str.svg);
    }
}

.xinzeng {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    padding: 0;
    background: url(./icons/btn_xz.png) no-repeat #eceff1 center;
    transition: all 0.3s;
    &:hover {
        background-image: url(./icons/btn_xz.png);
    }
}

.app-warp {
    background: #ffffff;
    border-radius: 12px;
    overflow: hidden;
}

.filter-time {
    width: 130px;
}

.sqt {
    margin-top: 40px;
}

.inputstyle {
    width: 340px;
    border-radius: -16px;
    margin-left: -1200px;
    background: #f0f3f7;
}

.ivu-tooltip-dark {
    z-index: 3000 !important;
    overflow: visible;
}

.ivu-tooltip-popper {
    z-index: 3000 !important;
}

.el-table__body-wrapper is-scrolling-none {
    overflow: visible !important;
}

.is-scrolling-none {
    overflow: visible !important;
}

.el-submenu__title {
    font-weight: bold;
}

.el-submenu .el-menu-item {
    display: flex;
    justify-content: center;
    list-style: none !important;
}

.el-submenu {
    list-style: none !important;
}

.el-submenu .el-menu-item.is-active {
    list-style-type: none;
}

.el-submenu .el-menu-item.is-active::before {
    background-color: rgba(0, 0, 0, 0) !important;
}

// .svg-icon{
// 	fill:red !important
// }
//  #icon-cb_07 path {
// 		fill:pink
// }
// .svg-icon use .icon path {
// 	fill: pink;
// }
// svg.svg-icon ::v-deep .icon path{
// 	fill: red;
// }
// svg path {
// 	fill: red;
// }
//确认启用停用的按钮
.el-message-box .el-button--primary {
    // background-color:#46a6ff;
    border: 0.1px solid #fff;
}

.el-input__suffix {
    display: flex;
    align-items: center;
}

.wid {
    border-radius: 12px !important;
    height: 100%;
}

.el-menu-item {
    font-size: 16px !important;
}

.app {
    margin-bottom: 10px;
}

.el-step__icon {
    background-color: #F0F3F7;
}

.delBTn {
    margin-top: 0px;
    height: 32px;
    font-size: 16px !important;
    padding: 8px;
}
.partyWrap{
  padding: 20px;
  background-color: #ffffff;
}
