{
  "presets": [
    "es2015",
    "stage-0",
    [
      /* *
       *  babel-preset-env
       *  可以根据配置的目标运行环境自动启用需要的 babel 插件。
       */
      "env",
      {
        "modules": false // 关闭 babel 对 es module 的处理
        // 这里会有警告Replace Autoprefixer browsers option to Browserslist config.
        // Use browserslist key in package.json or .browserslistrc file.
        // "targets": { // 目标运行环境
        //   "browserslist": ["> 1%", "last 2 versions", "not ie <= 8"]
        // }
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    "syntax-dynamic-import" // 异步加载语法编译插件
  ]
}
