.description
  %h1 Solar System
  %hr/
  %p
    I know this is not the first one on CodePen, but I'm a space and physics lover, and I wanted to create mine :)
  %p
    Here is a true time scaled solar-system, which means that every objects have a time relative to an Earth year.
    
    You can change the number in second of the
    %br/
    %code $year-in-second
    variable to increase the speed of revolutions. Here 1 year = 30 seconds.
  %p.hide
    Note the css tricks for the Saturn rings (box-shadow) and reverse animation to compensate the orbit.
  %hr/
  %p.author
    Made with
    %i.fa.fa-heart
    by Malik Dellidj
  %p.links
    %a.fa.fa-codepen.icon{:href => "https://codepen.io/kowlor/", :target => "_blank"}
    
    %a.fa.fa-github-alt.icon{:href => "https://github.com/KOWLOR", :target => "_blank"}
    
    %a.fa.fa-twitter.icon{:href => "https://twitter.com/Dathink", :target => "_blank"}
    
    
.solar-syst
  .sun
  .mercury
  .venus
  .earth
  .mars
  .jupiter
  .saturn
  .uranus
  .neptune
  .pluto
  .asteroids-belt
