.clearread-mode {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999999999999;
  background: #E6E6E6;
  left: 0px;
  opacity: 0;
  bottom: -200%;
  overflow-y: scroll;
  padding-top: 1px;
  transition: opacity 250ms ease-out; }
  .clearread-mode::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #f0f0f0; }
  .clearread-mode::-webkit-scrollbar-track {
    background-color: #f0f0f0; }
  .clearread-mode::-webkit-scrollbar-thumb {
    background-color: #c7c7c7; }
  .clearread-mode .center-area {
    width: 70%;
    max-width: 1000px;
    margin: 22px auto;
    background: #FFF;
    min-height: calc(100% - 44px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 12px 3px;
    padding-top: 1px;
    position: relative;
    transform: translateY(30%);
    transition: transform 450ms ease-out; }
    .clearread-mode .center-area .actions {
      height: 100%;
      width: 80px;
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      left: -100px;
      top: 22px;
      padding-bottom: 50px; }
      .clearread-mode .center-area .actions .w {
        display: flex;
        flex-direction: column;
        align-items: center; }
    .clearread-mode .center-area .article {
      width: auto;
      background: #FFF;
      padding: 53px 70px; }
      .clearread-mode .center-area .article .title {
        font-weight: bold;
        font-size: 32px;
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: 0.35em;
        color: #333;
        word-break: break-all;
        text-align: left !important; }
      .clearread-mode .center-area .article .subhead {
        color: rgba(27, 27, 27, 0.65);
        font-size: 2em;
        line-height: 1.2;
        font-weight: normal;
        word-break: break-all; }
      .clearread-mode .center-area .article .source-loading {
        width: 100%;
        margin-top: 50px;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center; }
      .clearread-mode .center-area .article .content {
        width: 100%;
        margin-top: 50px; }
        .clearread-mode .center-area .article .content div {
          width: auto !important;
          float: none !important;
          padding: 0px !important;
          margin: 0px !important;
          line-height: normal !important; }
        .clearread-mode .center-area .article .content p {
          width: 100%;
          word-break: break-all;
          margin: 18px 0px;
          font-size: 18px;
          line-height: 1.8;
          color: #333;
          text-align: left !important; }
        .clearread-mode .center-area .article .content ul, .clearread-mode .center-area .article .content ol {
          margin: 0 1em;
          padding: 0 1em; }
          .clearread-mode .center-area .article .content ul li, .clearread-mode .center-area .article .content ol li {
            color: #A6A6A6;
            font-size: 18px;
            line-height: 1.8;
            margin: 10px 0px;
            text-align: left !important; }
        .clearread-mode .center-area .article .content ol {
          list-style: decimal !important; }
          .clearread-mode .center-area .article .content ol li {
            list-style: decimal !important;
            text-align: left !important; }
        .clearread-mode .center-area .article .content ul {
          list-style: disc !important; }
          .clearread-mode .center-area .article .content ul li {
            list-style: disc !important;
            text-align: left !important; }
        .clearread-mode .center-area .article .content blockquote {
          border-left: 1px solid #ccc;
          color: #707070;
          margin-left: 19px;
          padding: 10px 20px; }
          .clearread-mode .center-area .article .content blockquote p {
            font-size: 18px;
            text-align: left !important; }
        .clearread-mode .center-area .article .content img {
          display: block;
          width: calc(100% + 140px) !important;
          margin-left: -70px !important;
          height: auto !important; }
        .clearread-mode .center-area .article .content .img-c {
          width: auto !important;
          height: auto !important;
          margin: 0px auto !important; }
        .clearread-mode .center-area .article .content h3 {
          width: 100%;
          word-break: break-all;
          margin: 18px 0px;
          font-size: 19px;
          line-height: 1.8;
          color: #333;
          text-align: left !important; }
        .clearread-mode .center-area .article .content h4, .clearread-mode .center-area .article .content h5, .clearread-mode .center-area .article .content h6 {
          width: 100%;
          word-break: break-all;
          margin: 18px 0px;
          font-size: 18px;
          line-height: 1.8;
          color: #333;
          text-align: left !important; }
        .clearread-mode .center-area .article .content a {
          color: #3986FF;
          margin: 0px 4px; }

.clearread-mode-show {
  bottom: 0px;
  opacity: 1; }

.center-area-show {
  transform: translateY(0) !important; }

/*# sourceMappingURL=content.css.map */
