<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>R00800.dotx</Template><TotalTime>644</TotalTime><Pages>6</Pages><Words>603</Words><Characters>3442</Characters><Application>Microsoft Office Word</Application><DocSecurity>0</DocSecurity><Lines>28</Lines><Paragraphs>8</Paragraphs><ScaleCrop>false</ScaleCrop><Company>Microsoft</Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>4037</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>14.0000</AppVersion></Properties>