* {
  margin: 0;
  padding: 0;
}
.linechart-container,
.areachart-container {
  background: #e8e8e8;
  display: inline-block;
  margin: 10px;

  .line-path {
    fill: none;
    stroke: #198EF0;
    stroke-width: 2;
  }

  .y-title,
  .x-title {
    fill: #6A7984;
    font-size: 12px;
  }

  .domain,
  .tick {
    stroke: #6A7984;
  }

  .tick line {
    stroke: #6A7984;
  }
}

.xbarchart-container,
.ybarchart-container,
.ybarchart-container2,
.piechart-container {
  background: #e8e8e8;
  display: inline-block;
  margin: 10px;
}
