<!DOCTYPE html>
<html>
<head>
    <title>Map</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" rev="stylesheet" href="css/Ershou_Web_Mapv3_Home.css" type="text/css" />
    <style type="text/css">
        *{margin:0;}
        .map-container{
            width:800px;
            height:600px;
        }
        .map-wrap{
            top:0;
        }
    </style>
</head>
<body>
    <div class="map-wrap">
        <div class="map-bmap-wrap">
            <div class="scale-wrap">
                <a href="javascript:" class="zoomIn">+</a>
                <a href="javascript:" class="zoomOut">-</a>
            </div>
            <div id="bmap-container" class="bmap-container"></div>
        </div>
    </div>
    <script type="text/template" id="area-tpl">
        <div class="ol-area op-nail" id="<%= id %>" data-midChange="<%= mid_change %>" data-midPrice="<%= mid_price %>" data-id="<%= id %>" data-lat="<%= lat %>" data-lng="<%= lng %>">
            <p class="ol-name"><%= area_name %></p>
            <p class="ol-price"><%= formatWan(mid_price,'元') %></p>
            <p class="ol-count"><%= formatWan(prop_num,'') %>套</p>
        </div>
    </script>
    <script type="text/template" id="block-tpl">
        <div class="ol-block op-nail" id="<%= id %>" data-parentid="<%= parent_id %>" data-midChange="<%= mid_change %>" data-midPrice="<%= mid_price %>" data-id="<%= id %>" data-lat="<%= lat %>" data-lng="<%= lng %>">
            <p class="ol-name"><%= area_name %></p>
            <p class="ol-price"><%= formatWan(mid_price,'元') %></p>
            <p class="ol-count"><%= formatWan(prop_num,'') %>套</p>
        </div>
    </script>

    <script type="text/template" id="commu-tpl">
        <% var stClass = ''; %>
        <% if(status == 'cur') stClass = 'commu-cur'; %>
        <% if(status == 'saw') stClass = 'commu-saw'; %>
        <div class="ol-commu <%= stClass %>" id="<%= id %>" data-id="<%= id %>" data-lat="<%= lat %>" data-lng="<%= lng %>">
            <div class="ol-commu-info">
            <span class="ol-commu-price"><em><%= formatWan(mid_price,'元') %></em></span><span class="ol-commu-name"><%= truncate_name %></span><span class="ol-commu-count"><%= prop_count %>套</span>
            <i class="i-arr-down"></i>
            </div>
        </div>
    </script>
    <script type="text/javascript" src="js/jquery-underscore.min.js"></script>
    <script type="text/javascript" src="js/cityData.js"></script>

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=2f9f411f3f347ae6c187c4e39caa8d47"></script>

    <script type="text/javascript">
         var formatWan = function(num,unit){
            if(num >= 10000){
            var match = /^(\d+(\.\d)?)(\d*)$/;
            var suc   = match.test(num/10000);
            return RegExp.$1 + '万';
            }else{
            return num + unit;
            }
        }
        var data=[
            {
                "lat": "30.264613442643",
                "lng": "120.21583176025",
                "id": "1802",
                "area_name": "江干",
                "parent_id": "1800",
                "prop_num": 243180,
                "mid_price": "23931",
                "mid_change": "0.0379997"
            },
            {
                "lat": "30.423856764091",
                "lng": "120.29829453245",
                "id": "1808",
                "area_name": "余杭",
                "parent_id": "1800",
                "prop_num": 187054,
                "mid_price": "12315",
                "mid_change": "0.0564861"
            },
            {
                "lat": "30.266364859209",
                "lng": "120.13437871952",
                "id": "1804",
                "area_name": "西湖",
                "parent_id": "1800",
                "prop_num": 189815,
                "mid_price": "31125",
                "mid_change": "0.0349293"
            },
            {
                "lat": "30.182650032216",
                "lng": "120.27347989855",
                "id": "1807",
                "area_name": "萧山",
                "parent_id": "1800",
                "prop_num": 115562,
                "mid_price": "14286",
                "mid_change": "0.0552016"
            },
            {
                "lat": "30.214363996409",
                "lng": "120.21776112052",
                "id": "1806",
                "area_name": "滨江",
                "parent_id": "1800",
                "prop_num": 103052,
                "mid_price": "27724",
                "mid_change": "0.0368826"
            },
            {
                "lat": "30.325022830588",
                "lng": "120.15243410062",
                "id": "1801",
                "area_name": "拱墅",
                "parent_id": "1800",
                "prop_num": 71369,
                "mid_price": "25534",
                "mid_change": "0.0547352"
            },
            {
                "lat": "30.287023378543",
                "lng": "120.18690855032",
                "id": "1805",
                "area_name": "下城",
                "parent_id": "1800",
                "prop_num": 104252,
                "mid_price": "29070",
                "mid_change": "0.039484"
            },
            {
                "lat": "30.248974467507",
                "lng": "120.1754652903",
                "id": "1803",
                "area_name": "上城",
                "parent_id": "1800",
                "prop_num": 63688,
                "mid_price": "33193",
                "mid_change": "0.0444014"
            },
            {
                "lat": "30.051060375608",
                "lng": "119.96080339124",
                "id": "1810",
                "area_name": "富阳",
                "parent_id": "1800",
                "prop_num": 11973,
                "mid_price": "13536",
                "mid_change": "0.140812"
            },
            {
                "lat": "30.244649328966",
                "lng": "119.72183310933",
                "id": "1809",
                "area_name": "临安",
                "parent_id": "1800",
                "prop_num": 5676,
                "mid_price": "8589",
                "mid_change": "0.112257"
            },
            {
                "lat": "29.789281606971",
                "lng": "119.68612661023",
                "id": "1812",
                "area_name": "桐庐",
                "parent_id": "1800",
                "prop_num": 9790,
                "mid_price": "6751",
                "mid_change": "0.111127"
            },
            {
                "lat": "29.61324392059",
                "lng": "119.0487511009",
                "id": "1813",
                "area_name": "淳安",
                "parent_id": "1800",
                "prop_num": 112,
                "mid_price": "8634",
                "mid_change": "0.00986842"
            },
            {
                "lat": "29.46982601876",
                "lng": "119.27674386552",
                "id": "1811",
                "area_name": "建德",
                "parent_id": "1800",
                "prop_num": 17,
                "mid_price": "10139",
                "mid_change": "-0.0281811"
            }
        ];

        function MapSearch(options){
            var defaultMapSetting = {
                originZoom: 12,
                minZoom: 1,
                maxZoom: 19,
                cityZ: 12,//各个缩放级别定义
                areaZ: 12,
                blockZ: 15,
                commuZ: 17,
                ogCommuZ: 17,
                cityName:"杭州"
            };
            this.op = $.extend(defaultMapSetting,options||{});
            this.item = {
                mapBox: $(".bmap-container"),
                zoomIn: $(".scale-wrap .zoomIn"),
                zoomOut: $(".scale-wrap .zoomOut")
            };
            this.BMap = new BMap.Map("bmap-container",{
                minZoom: this.op.minZoom,
                maxZoom: this.op.maxZoom,
                enableMapClick: false
            });
        }

        MapSearch.prototype.init = function(){
            //此处以一定的缩放比定位了一个城市中心
            this.BMap.centerAndZoom(this.op.cityName,this.op.originZoom);
            //滚轮缩放地图支持
            this.BMap.enableScrollWheelZoom();
            //数据中心模块 处理数据加载等问题
            this.Core = window.MapModel;
            //初始加载数据 区域信息数据
            this.op.areaList = window.groups;
            this.tilesloaded = this.tilesloaded.bind(this);
            this.zoomstart = this.zoomstart.bind(this);
            this.zoomend = this.zoomend.bind(this);
            this.dragstart = this.dragstart.bind(this);
            this.dragend = this.dragend.bind(this);
            this.overlayClick = this.overlayClick.bind(this);
            //this.blurCommu = this.blurCommu.bind(this);
            this.traceAnces = this.traceAnces.bind(this);
            //this.closeCommu = this.closeCommu.bind(this);
            this.bindEvent()
        }

        MapSearch.prototype.bindEvent = function(){
            var my = this;
            this.BMap.addEventListener("tilesloaded", this.tilesloaded);
            this.item.mapBox.on("click", ".ol-area", function() {
                my.overlayClick($(this), "area")
            });
            this.item.mapBox.on("click", ".ol-block", function() {
                my.overlayClick($(this), "block")
            });
            this.item.mapBox.on("click", ".ol-commu", function() {
                my.overlayClick($(this), "commu")
            });
            this.item.mapBox.on("click", ".close-commu", function(e) {
                my.closeCommu();
                e.stopPropagation();
                //sendMapLog("track_map_closecomm")
            });
            this.item.zoomIn.click(function() {
                var zoom = my.getZoom();
                if (zoom < my.op.maxZoom) {
                    my.BMap.setZoom(zoom + 1)
                }
                //sendMapLog("map_zoomout")
            });
            this.item.zoomOut.click(function() {
                var zoom = my.getZoom();
                if (zoom > my.op.minZoom) {
                    my.BMap.setZoom(zoom - 1)
                }
                //sendMapLog("map_zoomin")
            })
        }

        MapSearch.prototype.reload = function(){}
        MapSearch.prototype.able = function(flag){
            if(flag){
                this.BMap.enableDragging();
                this.BMap.enableScrollWheelZoom();
                this.BMap.enableDoubleClickZoom();
                this.BMap.enableKeyboard();
            }
        }
        MapSearch.prototype.closeCommu = function(){}
        MapSearch.prototype.overlayClick = function(elem,type){
            if(type == "commu"){
                //具体社区点击
                this.commuClickHandle(elem,type);
            }else{
                this.regionClickHandle(elem,type);
            }
        }
        MapSearch.prototype.regionClickHandle = function(elem,type){
            this.able(false);
            this.clearOverlays("all");
            this.op.rgName = elem.find(".ol-name").text();
            this.op.curCenter = {
                lat:elem.data("lat"),
                lng:elem.data("lng")
            };
            this.startZoomGpType = this.getGpTypeByZoom();
            this.loadType = type=="area" ? "block" : "commu";
            this.centerAndZoom(this.op.curCenter, this.loadType);
        }
        MapSearch.prototype.commuClickHandle = function(elem){
            this.loadType = "commu";
        }
        MapSearch.prototype.traceAnces = function(){}
        MapSearch.prototype.focusCommu = function(){}
        MapSearch.prototype.blurCommu = function(){}
        MapSearch.prototype.clearHighLight = function(){}
        MapSearch.prototype.centerAndZoom = function(pos,type){
            var zoomZ = this.op[type+"Z"];
            if(typeof pos !== "string"){
                pos = new BMap.Point(pos.lng,pos.lat);
            }
            this.BMap.centerAndZoom(pos,zoomZ);
            if(this.getZoom()== zoomZ){
                this.Core.flags.autoLoad = true;
            }
        }
        MapSearch.prototype.tilesloaded = function(){
            var sc = new BMap.ScaleControl({
                anchor: BMAP_ANCHOR_BOTTOM_RIGHT,
                offset: new BMap.Size(20,20)
            });
            var my = this;
            this.BMap.addEventListener("dragstart", this.dragstart);
            this.BMap.addEventListener("dragend", this.dragend);
            this.BMap.addEventListener("zoomstart", this.zoomstart);
            this.BMap.addEventListener("zoomend", this.zoomend);
            //告知地图已经加载完毕
            //this.Core.flags.mapLoaded = true;
            setTimeout(function() {
                my.BMap.addControl(sc);
            }, 500);
            this.drawOverlays("area",data);
            //请求方式处理判断 需要查看 p1 p2 community_id的功能
            /*if (this.Core.p1 || this.Core.p2 || this.Core.community_id) {
                this.Core.load("param");
            } else {
                this.zoomend();
            }*/
            this.BMap.removeEventListener("tilesloaded", this.tilesloaded);
        }
        MapSearch.prototype.zoomstart = function(){
            this.Core.abortAjax();
            this.startZoomGpType = this.getGpTypeByZoom();
        }
        MapSearch.prototype.zoomend = function(){
            var my = this;
            this.resetGpType();
            this.clearOverlays("all");
            if (this.op.curCommu) {
                this.blurCommu()
            }
            if(!this.loadType) return;
            if(this.loadType == "block"){
                this.drawOverlays("block",blockData);
            }else{
                this.drawOverlays("commu",commData);
            }
        }
        MapSearch.prototype.dragstart = function(){
            //todo  暂时没有干啥
        }
        MapSearch.prototype.dragend = function(){
            //var my = this;
            //取消之前的一个ajax请求
            this.Core.abortAjax();
            this.op.mapAction = "drag";
            this.resetGpType();
            if(this.op.curCommu){
                this.blurCommu();
            }
            this.Core.load("drag");
        }
        MapSearch.prototype.getZoom = function(){
            return this.BMap.getZoom();
        }
        MapSearch.prototype.getRange = function(){}
        MapSearch.prototype.drawOverlays = function(type,data){
            var name;
            var offset;
            switch (type) {
                case "area":
                    name = "area-tpl";
                    offset = {
                        x: -46,
                        y: -46
                    };
                    break;
                case "block":
                    name = "block-tpl";
                    offset = {
                        x: -37,
                        y: -37
                    };
                    break;
                case "commu":
                    name = "commu-tpl";
                    offset = {
                        x: -31,
                        y: -39
                    };
                    break;
            }
            var callback = function(){};
            var my = this;
            _.each(data, function(item) {
                var point = new BMap.Point(item.lng,item.lat);
                my.drawPoint(type, name, point, item, offset, callback);
            });
            this.able(true);
        }
        MapSearch.prototype.drawPoint = function(type, name, point, item, offset, callback){
            var overlay = new MapOverlay(point,{
                target:_.template($("#" + name).html())(item),
                shift: offset || {
                    x: 0,
                    y: 0
                },
                done: callback || function() {}
            });
            this.BMap.addOverlay(overlay);
        }
        MapSearch.prototype.resetGpType = function(){
            this.Core.flags.gpType = this.getGpTypeByZoom();
        }
        MapSearch.prototype.getGpTypeByZoom = function(){
            var zoom = this.getZoom();
            if(zoom >= this.op.minZoom && zoom<= this.op.blockZ){
                return false;
            }else{
                if(zoom>= this.op.blockZ&& zoom <this.op.ogCommuZ){
                    return "block";
                }else{
                    return "commu";
                }
            }
        }
        MapSearch.prototype.updateOverlayInfo = function(){}
        MapSearch.prototype.hasOverlayInfo = function(){}
        MapSearch.prototype.clearOverlays = function(type){
            if(type == "all"){
                this.Core.flags.mapLoading = true;
                this.BMap.clearOverlays();
            }else{
                if(type == "center"){
                    this.item.mapBox.find(".ol-loc").remove();
                }else{
                    if(type == "points"){
                        this.Core.flags.mapLoading = true;
                        this.item.mapBox.find(".ol-area,.ol-block,.ol-commu").remove();
                    }
                }
            }
        }
        MapSearch.prototype.getAreaById = function(id){
            return this.op.areaList[id];
        }

        function MapOverlay(point,options){
            var option = $.extend({
                target: "",
                shift: {
                    x: 0,
                    y: 0
                },
                done: function() {}
            }, options);
            this.point = point;
            this.option = option;
            this.target = $(option.target);
            this.shift = option.shift;
            this.done = option.done;
        }
        MapOverlay.prototype = new BMap.Overlay();
        MapOverlay.prototype.initialize = function(map){
            this.map = map;
            map.getPanes().markerPane.appendChild(this.target[0]);
            return this.target[0];
        }
        MapOverlay.prototype.draw = function(){
            var e = this.map.pointToOverlayPixel(this.point);
            this.target.css({
                left: e.x + this.shift.x + "px",
                top: e.y + this.shift.y + "px"
            });
            this.done();
        }


        var MapModelFunc = function(bmap){
            this.flags={};
            this.bmap = bmap;
        }

        MapModelFunc.prototype.load = function(type){
            this.fetchData(this.collectParam(type),type);
        }
        MapModelFunc.prototype.fetchData = function(params,type){

        }
        MapModelFunc.prototype.collectParam = function(type){
        }
        MapModelFunc.prototype.abortAjax = function(type){
        }
        var MapModel = new MapModelFunc();
        var sm = new MapSearch();
        sm.init();


    </script>
</body>
</html>
