/*reset.css*/
/*这个要根据不同的项目的风格来调整，重置样式*/
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,input,select,textarea,form{margin: 0; padding: 0;}
body{font:12px/1.5 "Microsoft YaHei";}
img{border:none;}
ul,ol{list-style:none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration:none;}
i{display:inline-block;font-style: normal;}
th,td{padding:0;}
/*清浮动*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{zoom:1;}
/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }
/*水平居中*/
.center{margin:0 auto;};
/*html5 css*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}/*search.css*/
/*统一为标准盒模型，但是在ie7及以下不认*/
*{
	box-sizing:border-box;
}
.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.inner-center{
	display: flex; 
	align-items: center; 
	justify-content: center;
}